<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laoxu.modernsky.dao.inter.IClasses">

    <sql id="column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="branch != null">
                branch,
            </if>
            <if test="major != null">
                major,
            </if>
            <if test="className != null">
                className,
            </if>
            <if test="year != null">
                year,
            </if>
        </trim>
    </sql>
    <sql id="columnValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="branch != null">
                #{branch},
            </if>
            <if test="major != null">
                #{major},
            </if>
            <if test="className != null">
                #{className},
            </if>
            <if test="year != null">
                #{year},
            </if>
        </trim>
    </sql>

    <sql id="condition">
        <where>
            <trim suffixOverrides="and">
                <if test="id!=null">
                    id=#{id} and
                </if>
                <if test="branch!=null">
                    branch = #{branch} and
                </if>
                <if test="major!=null">
                    major = #{major} and
                </if>
                <if test="className!=null">
                    className = #{className} and
                </if>
                <if test="year!=null">
                    year = #{year} and
                </if>
            </trim>

        </where>
    </sql>
    <sql id="displayColumn">
        <choose>
            <when test="column!=null">
                ${column}
            </when>
            <when test="column==null">
                *
            </when>
        </choose>
    </sql>

    <select id="distinctSelect" resultType="com.laoxu.modernsky.entity.Classes">
        select
        distinct <include refid="displayColumn"></include>
         from ModernSky.class
        <include refid="condition"></include>
    </select>

    <select id="select" resultType="com.laoxu.modernsky.entity.Classes">
        select * from class
        <include refid="condition"></include>
    </select>

    <select id="findByPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        <include refid="displayColumn"></include>
        from ModernSky.class <include refid="condition"></include>
        limit #{start},#{rowAccount}
    </select>

    <select id="rowsCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) count from ModernSky.class <include refid="condition"></include>
    </select>

    <insert id="add" parameterType="com.laoxu.modernsky.entity.Classes" >
        insert into ModernSky.class
        <include refid="column"></include>
        values
        <include refid="columnValue"></include>
    </insert>

    <update id="update" parameterType="com.laoxu.modernsky.entity.Classes">
        update ModernSky.class set
        <trim suffixOverrides=",">
            <if test="branch != null">
                branch = #{branch},
            </if>
            <if test="major != null">
                major = #{major},
            </if>
            <if test="className != null">
                className = #{className},
            </if>
            <if test="year != null">
                year = #{year},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="com.laoxu.modernsky.entity.Classes">
        delete from class where id = #{id}
    </delete>
</mapper>