<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laoxu.modernsky.dao.inter.IStudent">

    <sql id="column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="branch != null">
                branch,
            </if>
            <if test="major != null">
                major,
            </if>
            <if test="className != null">
                className,
            </if>
            <if test="year != null">
                year,
            </if>
        </trim>
    </sql>
    <sql id="columnValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="number != null">
                #{number},
            </if>
            <if test="branch != null">
                #{branch},
            </if>
            <if test="major != null">
                #{major},
            </if>
            <if test="className != null">
                #{className},
            </if>
            <if test="year != null">
                #{year},
            </if>
        </trim>
    </sql>

    <insert id="add" parameterType="com.laoxu.modernsky.entity.Student">
        insert into ModernSky.student
        <include refid="column"></include>
        values
        <include refid="columnValue"></include>
    </insert>

    <select id="select" parameterType="com.laoxu.modernsky.entity.Student">
        select * from ModernSky.student
    </select>

    <select id="selectId" resultType="com.laoxu.modernsky.entity.Student" parameterType="com.laoxu.modernsky.entity.Student">
        select * from ModernSky.student where id = #{id}
    </select>
</mapper>