<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laoxu.modernsky.dao.inter.ITeacher">

    <sql id="column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="jobNumber != null">
                jobNumber,
            </if>
        </trim>
    </sql>
    <sql id="columnValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="jobNumber != null">
                #{jobNumber},
            </if>
        </trim>
    </sql>

    <sql id="condition">
        <where>
            <trim suffixOverrides="and">
                <if test="id!=null">
                    id = #{id} and
                </if>
                <if test="name!=null">
                    name like '%${name}%' and
                </if>
                <if test="jobNumber!=null">
                    jobNumber = #{jobNumber} and
                </if>
            </trim>
        </where>
    </sql>

    <insert id="add" parameterType="com.laoxu.modernsky.entity.Teacher">
        insert into ModernSky.teacher
        <include refid="column"></include>
        values
        <include refid="columnValue"></include>
    </insert>

    <select id="select" resultType="com.laoxu.modernsky.entity.Teacher" parameterType="com.laoxu.modernsky.entity.Teacher">
        select * from ModernSky.teacher
        <include refid="condition"></include>
    </select>

    <select id="selectId" resultType="com.laoxu.modernsky.entity.Student" parameterType="com.laoxu.modernsky.entity.Teacher">
        select * from ModernSky.teacher where id = #{id}
    </select>
</mapper>