<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laoxu.modernsky.dao.inter.IUser">

    <sql id="column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="createDate != null">
                createDate,
            </if>
        </trim>
    </sql>
    <sql id="columnValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
        </trim>
    </sql>

    <sql id="condition">
        <where>
            <trim suffixOverrides="and">
                <if test="id!=null">
                    id = #{id} and
                </if>
                <if test="password!=null">
                    password = #{password} and
                </if>
                <if test="name!=null">
                    name like '%${name}%' and
                </if>
                <if test="sex!=null">
                    sex = #{sex} and
                </if>
                <if test="email!=null">
                    email = #{email} and
                </if>
                <if test="phone!=null">
                    phone = #{phone} and
                </if>
                <if test="createDate!=null">
                    createDate = #{createDate} and
                </if>
            </trim>
        </where>
    </sql>

    <insert id="add" parameterType="com.laoxu.modernsky.entity.User">
        insert into ModernSky.user
        <include refid="column"></include>
        values
        <include refid="columnValue"></include>

    </insert>

    <insert id="setActor">
        insert into userAndActor (user_id,actor_id,createDate)
        values
            (#{user.id},#{actor.id},now());
    </insert>

    <select id="login" resultType="com.laoxu.modernsky.entity.User" parameterType="com.laoxu.modernsky.entity.User">
        select * from ModernSky.user where id = #{id} and password = #{password}
    </select>

    <select id="select" resultType="com.laoxu.modernsky.entity.User" parameterType="com.laoxu.modernsky.entity.User">
        select * from ModernSky.user
        <include refid="condition"></include>
    </select>

    <select id="selectActorId" resultType="com.laoxu.modernsky.entity.User" parameterType="com.laoxu.modernsky.entity.User">
        select * from ModernSky.actor where name = #{name}
    </select>
    
    <update id="update" parameterType="com.laoxu.modernsky.entity.User">
        update user set
        <trim suffixOverrides=",">
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </trim>
        where id = #{id}
    </update>


</mapper>